@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
body {
	background-color: #FAFAFA;
}
p {
	text-align: center;
}
article#full_area {
	width: 935px;
	height: 618px;
	margin: auto;
	/*border: 1px black;*/
}
div#image {
	width: 454px;
	height: 618px;
	float: left;
	margin-left: 100px;
	/*background-color: orange;*/
	/*border: dotted 1px orange;*/
	background: url('img/mtg_smartphone.png') no-repeat;
}
div#login_area_master {
	width: 350px;
	height: 606px;
	/*border: solid 1px #aaaaaa;*/
	float: right;
	display: table;
}
div#login_area {
	width: 350px;
	height: 400px;
	margin-top: 10px;
	background-color: white;
	border: solid 1px #aaaaaa;
	text-align: center;
}
h1 {
	font-family: 'Grand Hotel', cursive;
	font-size: 50px;
}
form {
	/*margin-top: 30px;*/
	padding: 10px;
}
.link, .link2, #new_user_area {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	margin: 5px;
	text-align: center;
}
.link2 {
	font-size: 12px;
	padding: 10px;
}
input {
	width: 75%;
	padding: 12px 20px;
	margin: 10px 0;
	border: solid 1px #aaaaaa;
	/*box-sizing: border-box;*/
}
input#btn_login {
	width: 80%;
	height: 50%;
	background-color: #0B5ED7;
	border: none;
	border-radius: 5px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 15px;
}
div#new_user_area {
	width: 350px;
	height: 41px;
	margin-top: 10px;
	background-color: white;
	/*background-color: darkred;*/
	border: solid 1px #aaaaaa;
}
div#stores_area {
	width: 350px;
	height: 102px;
	margin-top: 10px;
	background-color: white;
	border: solid 1px #aaaaaa;
	text-align: center;
	font-family: 'Roboto';
}
.fa-apple, .fa-google-play { 
	font-size: 50px;
	margin-left: 10px;
	color: blue;
}
.fa-facebook-square {
	font-size: 20px;
	color: blue;
}
footer {
	width: 1317px;
	height: 151px;
	margin: auto;
	/*background-color: saddlebrown;*/
	text-align: center;
}
.MarkRyk {
	/*position: relative;*/
	/*text-align: right;*/
	font-family: 'Satisfy', cursive;
	font-size: 20pt;
	color: black;
}
p.MarkRyk {
	font-size: 12pt;
}